<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GeoPoll</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/signIn.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>GeoAccount SignIn</h1>
            <form class="form-signin">
                <label for="inputAccName" class="sr-only">Account Name or Email</label>
                <input type ="name" name="inputAccName" id="inputAccName" class="form-control" placeholder="Account Name or Email" required autofocus>

                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required autofocus>

                <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="button">Sign In</button>
            </form>
        </div>
    </div>
</body>
</html>
