{% extends "base.html" %}
{% block body %}
<h1>Responses for {{poll.poll_title}}</h1>
{% for key, value in summary.items() %}
  {% if key.question_type == 'response' %}
    <h3>{{key.question_text}}</h1>
    <hr>
    {% for val in value %}
    {{val}}
    <br>
    {% endfor %}
  {% else %}
    <h3>{{key.question_text}}</h1>
    <hr>
    {% for key,value in value.items() %}
    {{key}} : {{value}}
    <br>
    {% endfor %}
  {% endif %}
{% endfor %}
<hr>
<a href="/poll/{{poll.poll_id}}" class="btn btn-info">View Poll</a>
{% endblock %}
