{% extends 'base.html' %}
{% block body %}
<h1>{{poll.poll_title}} by {{user.user_name}}</h1>
{% if g.user.user_id == user.user_id %}
	{% if poll.poll_published == 0 %}
	<button class="btn btn-primary" onclick="window.location.href='/poll/{{poll.poll_id}}/{{user.user_id}}/add-question'">Add Question</button>
	<button class="btn btn-warning" onclick="window.location.href='/poll/{{poll.poll_id}}/{{user.user_id}}/edit'">Edit Poll</button>
	<button class="btn btn-danger" onclick="window.location.href='/poll/{{poll.poll_id}}/publish'">Publish</button>
	{% else %}
	<button class="btn btn-info" onclick="window.location.href='/poll/{{poll.poll_id}}/{{poll.poll_user_id}}/summary'">View Responses</button>
	{% endif %}
{% endif %}
<hr>
<form method="POST">
{% for key, value in questions.items() %}
  {% if key.question_type == "response" %}
	<label for="{{key.question_id}}">{{key.question_text}}</label>
  <input name="{{key.question_id}}" class="form-control" type="text" placeholder="Enter answer here" required>
  {% else %}
	<label for="{{key.question_id}}">{{key.question_text}}</label>
	<select name="{{key.question_id}}" class="form-control" id="{{key.question_id}}">
		{% for choice in value %}
		<option>{{choice}}</option>
		{% endfor %}
	</select>
	{% endif %}
	<br>
{% endfor %}
<input id="lat" name="lat" hidden>
<input id="lon" name="lon" hidden>
{% if poll.poll_published == 1 %}
<button class="btn btn-primary" type="submit">Submit</button>
{% else %}
<button class="btn btn-primary" type="submit" disabled>Submit</button>
{% endif %}
</form>
<html>
  <body>
    <script>
      function initMap() {
        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            $("#lat").val(position.coords.latitude);
            $("#lon").val(position.coords.longitude);

          });
        }
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSoxa5SQ6PGmE8N8e_tdwEB-r-kauVnso&callback=initMap">
    </script>
  </body>
</html>
{% endblock %}
