{% extends "base.html" %}
{% block body %}
<!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<h1>Responses for {{poll.poll_title}}</h1>
<div id="map_div"></div>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <br>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 30, lng: -84},
          zoom: 6
        });

            {% for loc in locations %}
               var myLatLng = {lat: {{loc[0]}}, lng: {{loc[1]}}};
               var marker = new google.maps.Marker({
                  position: myLatLng,
                  map: map
               });
            {% endfor %}
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSoxa5SQ6PGmE8N8e_tdwEB-r-kauVnso&callback=initMap">
    </script>
  </body>
</html>
{% for key, value in summary.items() %}
  {% if key.question_type == 'response' %}
    <h3>{{key.question_text}}</h3>
    <hr>
    {% for val in value %}
    {{val}}
    <br>
    {% endfor %}
  {% else %}
    <h1>{{key.question_text}}</h1>
    <hr>
    <div id="chart_{{key.question_id}}">div</div>
  {% endif %}
{% endfor %}
<hr>
<a href="/poll/{{poll.poll_id}}/{{user.user_id}}" class="btn btn-info">View Poll</a>
<div id="chart_div"></div>
<script type="text/javascript">
    function buildCharts() {
      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {


        // Instantiate and draw our chart, passing in some options.
        var index = 0;
        var charts = [];
        var rows = [];
        {% for question_id, value in summary.items() %}
          rows = [];
          {% if question_id.question_type == 'choice' %}
              var data = new google.visualization.DataTable();
              data.addColumn('string', 'Key');
              data.addColumn('number', 'Value');

              {% for key,value in value.items() %}
              rows.push(['{{key}}', {{value}}]);
              {% endfor %}
              data.addRows(rows);
              console.log("{{question_id.question_id}}");
              charts.push(new google.visualization.PieChart(document.getElementById('chart_{{question_id.question_id}}')));
              var options = {'title':'{{question_id.question_text}}',
                             'width':400,
                             'height':300};
              charts[index].draw(data, options)
              index++;
          {% endif %}
          console.log(charts)
        {% endfor %}
      }
    };
    window.onload = function() {
        buildCharts();
    };
</script>
{% endblock %}
