<!DOCTYPE html>
<html lang="en">
<head>
    <title>GeoSearch</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    {% import "bootstrap/wtf.html" as wtf %}
</head>
<body>
    <div class="container">
        <div class="header">
            <h2 class="text-muted">Search</h2>
        </div>
        <div class="jumbotron">
            <form class="form-signin" method="POST" action="showSearch">
                {{form.hidden_tag()}}
                {{wtf.form_field(form.search)}}
                {{wtf.form_field(form.search_for)}}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
            </form>
        </div>
    </div>
</body>
</html>