<!DOCTYPE html>
<html lang="en">
<head>
    <title>GeoUser Page</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">

                    <li role="presentation" class="active"><a href="{{url_for('user',user_name=g.user.user_name)}}">Home</a>
                    </li>
                    <li role="presentation" class="active"><a href="{{url_for('search')}}">Search</a>
                    </li>
                    <li role="presentation" class="active"><a href="{{url_for('edit',user_name=g.user.user_name)}}">Edit Info</a>
                    </li>
                    <li role="presentation" class="active"><a href="{{url_for('showCreatePoll')}}">Create Poll</a>
                    </li>
                    <li role="presentation" class="active"><a href="{{url_for('signOut')}}">SignOut</a>
                    </li>
                </ul>
            </nav>
            <h2 class="text-muted">  {{user.user_name}}</h2>
        </div>
        <div style="height: 200px;" class="jumbotron">
            <div style="float:left;">
                <img src="{{user.avatar(128)}}">
            </div>
            <div style="float: left; margin-left: 10px;">
                <h5> <b>Age</b>: {{ user.user_age }}</h5>
                <h5> <b>Race</b>: {{ user.user_race }}</h5>
                <h5> <b>Gender</b>: {{ user.user_gender }}</h5>
                <h5> <b>Education</b>: {{ user.user_edu }}</h5>
            </div>
        </div>
        <div id="poll_results">
          <h1>Your Polls</h1>
          <hr>
          
          <table class="table">
					<thead>
						<tr>
							<th scope="col">Poll ID</th>
							<th scope="col">Poll Name</th>
							<th scope="col">Responses</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for poll in polls %}
						<tr>
							<th scope="row">{{poll.poll_id}}</th>
							<td>{{poll.poll_title}}</td>
							<td>0</td>
							<td>
         	 			<button class="btn btn-success" onclick="window.location.href='/poll/{{poll.poll_id}}/{{user.user_id}}'">Open</button>
							</td>
						</tr>
						{% endfor %}
					</tbody>
					</table>
        </div>
    </div>
</body>
</html>
